:root {
    --global-font-color: #212121;
    --dark-font-color: #000000;
    --bright-font-color: #ffffff;
    --web-style-color: #2196f3;
    --h1-background-color: #2f303a;
    --p-caption-link-font-color: #757575;
    --bottom-link-color: rgba(255, 255, 255, 0.6);
    --footer-background-color: #2f303a;
    --header-line-color: #ececec;
    --card-line-color: #eeeeee;
    --our-team-background-color: #f5f4fa;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--global-font-color);
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: column;
}

header {
    padding-top: 22px;
    padding-bottom: 22px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0px;
}

.section {
    margin: 0 auto;
    padding: 94px 0px;
}

.lorem-gap {
    display: flex;
    gap: 30px;
    margin: 0 auto;
}

.photos {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    margin: 0 auto;
}

.portfolio-photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-nav {
    display: flex;
    gap: 93px;
}

.header-adress {
    display: flex;
    gap: 50px;
}

.header-line {
    border-bottom: 1px solid var(--header-line-color);
}

.studio-figcaption {
    background-color: var(--bright-font-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.menu {
    display: flex;
    gap: 26px;
    margin: 0;
}

.nav-font {
    display: block;
    padding: 10px;
}

.footer-address {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.logo {
    font-family: 'raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.our-team {
    background-color: var(--our-team-background-color);
}

.our-team-photos {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    margin: 0 auto;
}

.studio-black {
    color: var(--dark-font-color);
}

.studio-white {
    color: var(--bright-font-color);
    display: flex;
    padding-bottom: 20px;
}

.web-style {
    color: var(--web-style-color);
    line-height: 1.2;
}

.button-gap {
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
    padding-bottom: 34px;
}

.portfolio-button {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    padding: 4px 21px;
    border-radius: 4px;
    border: none;
}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--web-style-color);
    color: var(--bright-font-color);
}

.figure {
    margin: 0 auto;
    max-width: 100%;
}

.studio-figure {
    margin: 0 auto;
    max-width: 100%;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14),
        0 1px 3px rgba(0, 0, 0, 0.12);
}

.figcaption {
    border-left: 1px solid var(--card-line-color);
    border-right: 1px solid var(--card-line-color);
    border-bottom: 1px solid var(--card-line-color);
}

.card-image {
    display: block;
}

.section-h1 {
    background-color: var(--h1-background-color);
    padding-top: 200px;
    padding-bottom: 200px;
}

.section-what-we-do {
    margin: 0 auto;
    padding: 0px 0px 94px;
}

.h1-style {
    color: var(--bright-font-color);
    max-width: 600px;
    height: 120px;
    left: 452px;
    top: 200px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    text-align: center;
    margin: 0 auto;
}

.h2-style {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
}

.h5-style {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
}

.p-style {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--p-caption-link-font-color);
}

.team-names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    margin: 0px auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.caption-font {
    color: var(--p-caption-link-font-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0px auto;
    display: block;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 30px;
}

.portfolio-team-names {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 4px;
}

.studio-button {
    font-family: 'roboto', sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    color: var(--bright-font-color);
    background-color: var(--web-style-color);
    padding: 10px 42px;
    border-radius: 4px;
    border: none;
    display: block;
    margin: 30px auto 0px;
}

.portfolio-caption-font {
    color: var(--p-caption-link-font-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.9;
    margin: 0 auto;
    display: block;
    padding-left: 10px;
    padding-bottom: 20px;
}

.contact-link-top {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    color: var(--p-caption-link-font-color);
    text-decoration: none;
    font-style: normal;
}

.contact-link-top:focus,
.contact-link-top:hover {
    color: var(--web-style-color);
}

.street-contact-link-bottom {
    font-size: 14px;
    line-height: 1.7;
    color: var(--bright-font-color);
    text-decoration: none;
    font-style: normal;
}

.contact-link-bottom {
    font-size: 14px;
    line-height: 1.7;
    color: var(--bottom-link-color);
    text-decoration: none;
    font-style: normal;
}

.contact-link-bottom:focus,
.contact-link-bottom:hover {
    color: var(--web-style-color);
}

.footer {
    background-color: var(--footer-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.nav-font {
    color: var(--global-font-color);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.2;
}

.nav-font:focus,
.nav-font:hover {
    color: var(--web-style-color);
}
